[submodule "BMP3-Sensor-API"]
	path = BMP3-Sensor-API
	url = https://github.com/BoschSensortec/BMP3-Sensor-API
[submodule "STMems_Standard_C_drivers"]
	path = STMems_Standard_C_drivers
	url = https://github.com/gui5/STMems_Standard_C_drivers.git
